<div class="container">
    <div class="grade">
        <div class="grade-number">3</div>
        Grade 3
    </div>
    <div class="grade2lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">+</div>
                        <div class="categories add_category"> Addition
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">3.1</div>
                                <a routerLink="/skill/3.1">Add Two Numbers Up to 1000</a>
                            </li>
                            <li>
                                <div class="symbol number_1">3.2</div>
                                <a routerLink="/skill/3.2">Find the Missing Number</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">-</div>
                    <div class="categories add_category"> Subtraction
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">3.3</div>
                            <a routerLink="/skill/3.3">Subtract Two Numbers Up to 1000</a>
                        </li>
                        <li>
                            <div class="symbol number_1">3.4</div>
                            <a routerLink="/skill/3.4">Complete the Subtraction Sentence</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">x</div>
                        <div class="categories add_category"> Multiplication
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">2.1</div>
                                <a href="#">Add a One Digit Number to a Two Digit Number</a>
                            </li>
                            <li>
                                <div class="symbol number_1">2.2</div>
                                <a href="#">Add a One Digit Number to a Two Digit Number</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">%</div>
                    <div class="categories add_category"> Division
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">2.1</div>
                            <a href="#">Add a One Digit Number to a Two Digit Number</a>
                        </li>
                        <li>
                            <div class="symbol number_1">2.2</div>
                            <a href="#">Add a One Digit Number to a Two Digit Number</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>