<!-- Footer -->
<footer
class="text-center text-lg-start text-dark"
style="background-color: #ECEFF1"
>


<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
<!-- Grid column -->
<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  <!-- Content -->
  <h6 class="text-uppercase fw-bold">Giza Global Solutions LLP</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    3/293, State Bank Colony, <br>
    Ashokapuram,<br>
Coimbatore, <br>
TamilNadu, <br>
India - 641022<br>
+91-7708029907<br>
+91-9894534589
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">About Us</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a routerLink="/about-us" class="text-dark">About Us</a>
  </p>
  <p>
    <a href="mailto:hello@goodchildren.com" class="text-dark">Contact Us</a>
  </p>
  
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold">Privacy</h6>
  <hr
      class="mb-4 mt-0 d-inline-block mx-auto"
      style="width: 60px; background-color: #7c4dff; height: 2px"
      />
  <p>
    <a routerLink="/privacy" class="text-dark">Privacy Policy</a>
  </p>
  <p>
    <a routerLink="/terms-of-service" class="text-dark">Terms of Service</a>
  </p>
  <p>
    <a routerLink="/payment-terms" class="text-dark">Payment terms</a>
  </p>
  <p>
    <a routerLink="/online-safety" class="text-dark">Online Safety</a>
  </p>
</div>
<!-- Grid column -->


</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2020 Copyright:
<a class="text-dark" href="https://mdbootstrap.com/"
>MDBootstrap.com</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->