<div class="container">
    <div class="grade">
        <div class="grade-number">4</div>
        Grade 4
    </div>
    <div class="grade2lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">+</div>
                        <div class="categories add_category"> Addition
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">4.1</div>
                                <a routerLink="/skill/4.1">Add Two Numbers Up to 5000000</a>
                            </li>
                            <li>
                                <div class="symbol number_1">4.2</div>
                                <a routerLink="/skill/4.2">Find Numbers with a Particular Sum</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">-</div>
                    <div class="categories add_category"> Subtraction
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">4.3</div>
                            <a routerLink="/skill/4.3">Subtraction with Numbers Up to 5000000</a>
                        </li>
                        <li>
                            <div class="symbol number_1">4.4</div>
                            <a routerLink="/skill/4.4">Find Numbers with a Particular Difference</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>