<p class="header">Find Tens and Ones</p>
<form #userForm class="userForm">
    <p class="question">{{numberToStart}} = </p>
    <input autofocus #firstBox class="userField" autocomplete="off" maxlength="9" [(ngModel)]="answer1" 
        name="answer1" type="text" (keyup.enter)="checkAnswer()">
    <p class="string-content"> tens +  </p>
    <input id="secondBox" class="userField" autocomplete="off" maxlength="9" [(ngModel)]="answer2" 
    name="answer2" type="text" (keyup.enter)="checkAnswer()">
    <p class="string-content"> ones </p>    
            
</form>
<div class="verify">
    <button class="checkAnswer" (click)="checkAnswer()">Answer</button>
</div>
<div class="status">
    <p class="correct">You have answered {{correctAnswersCount}} out of 10 questions correctly</p>
    <div class="progress-box">
        <div class="boxes">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="box_inner" #progress [ngStyle]="{'transform':'scaleX('+correctAnswersCount/10+')'}">
        </div>
    </div>
</div>
<div class="overlay" [ngClass]="{'overlay-is-open':correctAnswersCount===10}">
    <div class="overlay-inner animated fadeIn duration075">
        <p class="answerStatus">Perfect!</p>
        <p class="message">You are awesome</p>
        <ul class="stars-rank">
            <li class="active "></li>
            <li class="active "></li>
            <li class="active "></li>
            <li class="active "></li>
            <li class="active "></li>
        </ul>
        <h2>Continue practicing.</h2>
        <div class="end-game-buttons">
            <a class="btn replay-nav" (click)="ResetGame()">Replay</a>
            <a routerLink="/gradekg" class="btn replay-nav">
                Try another skill
            </a>
        </div>
    </div>
</div>