<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
          <h2>About us</h2><br>
          <p>
            We at Good Children Games understand the importance of a scientific approach 
            in engaging kids through educational games. Our platform is designed to 
            incorporate the fundamental pillars of learning, such as curiosity, attention, error 
            feedback, and practice, based on neuroscientists recommendations. Unlike traditional 
            games, our UI/UX is minimal with minimal distractions to keep children focused on 
            solving questions or playing games.
          </p>
          <br>
          <p>
            Our goal is to adapt the games according to the player to sustain their curiosity 
            as much as possible. This version is only our first step, and we are working on grades 
            for effective feedback, and much more games to add. We rely on feedback and support from 
            parents and teachers like you. Contact us via our <a href="">contact form</a>  or 
            email to <span class="rev mail1">hcdo</span> 
          </p>
        </div>
      </div>
</div>