.userForm {
    background-color: #fde8ef;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    flex-direction: row;
    color: #48a6db;
    font-size: 5em;
    line-height: 1em;
    margin: 0 0.5rem;
}

.level {
    margin: 100px auto 0.5rem;
    text-align: center;
    color: #48a6db;
    font-size: 2em;
    line-height: 1em;
}

.userField {
    border: 0.04em solid #48a6db;
    height: 120px;
    margin-left: 20px;
    font-size: 1em;
    width: 120px;
    text-align: center !important;
    color: #48a6db;
    padding: 0.05em 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.checkAnswer {
    font-size: 150%;
    background-color: #48a6db;
    border: none;
    color: #FFF;
    border-radius: 0;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.5em;
}

.verify {
    text-align: center;
}

.status {
    margin: 0 0.5rem;
    display: flex;
    justify-content: space-between;
}

.progress-box {
    border-right: none;
    position: relative;
}

.boxes {
    width: 100%;
}

.box {
    border: 1px solid #b6c2d2;
    height: 2.5em;
    width: 20px;
    display: inline-block;
}

.box_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-color: #7ecc00;    
    opacity: .57;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .82);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
  }
.overlay-inner {
    text-align: center;
    max-width: 700px;
  }

  .overlay-is-open{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  
  /* .overlay-is-open .main-ui,
  .blurred {
    filter: blur(4px);
  } */

@media (max-width: 767px) {
    .status {
        display: none;
    }
}