<p class="level">Level {{currentLevel}}</p>
<form #userForm class="userForm">
    <p class="question">{{ num1 }} + {{ num2 }} = </p>
    <input autofocus class="userField" autocomplete="off" maxlength="9" [(ngModel)]="answer" name="answer"
        type="text" (keyup.enter)="checkAnswer()">
</form>
<div class="verify">
    <button class="checkAnswer" (click)="checkAnswer()">Answer</button></div>
<div class="status">
    <p class="correct">You have answered {{correctAnswersCount}} out of 10 questions correctly</p>
    <div class="progress-box">
        <div class="boxes">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="box_inner" #progress [ngStyle]="{'transform':'scaleX('+correctAnswersCount/10+')'}">
        </div>
    </div>
</div>
<div class="overlay" [ngClass]="{'overlay-is-open':correctAnswersCount===10}">
    <div class="overlay-inner">
        <p class="answerStatus">Perfect!</p>
        <p class="message">You are awesome</p>
        <button (click)="goToNextLevel()">Go to Next level</button>
    </div>
</div>