<div class="container">
    <div class="grade">
        <div class="grade-number">7</div>
        Grade 7
    </div>
    <div class="grade2lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">2:4</div>
                        <div class="categories add_category"> Ratios
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">7.1</div>
                                <a routerLink="/skill/7.1">Percent of numbers</a>
                            </li>
                            <!-- <li>
                                <div class="symbol number_1">7.2</div>
                                <a routerLink="/skill/7.2">Percent Equations</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">+</div>
                    <div class="categories add_category"> Stats
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">7.3</div>
                            <a routerLink="/skill/7.3">Calculate Mean</a>
                        </li>
                        <li>
                            <div class="symbol number_1">7.4</div>
                            <a routerLink="/skill/7.4">Calculate Mode</a>
                        </li>
                        <li>
                            <div class="symbol number_1">7.5</div>
                            <a routerLink="/skill/7.5">Factorials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>