<div class="container">
    <div class="grade">
        <div class="grade-number">6</div>
        Grade 6
    </div>
    <div class="grade2lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">%</div>
                        <div class="categories add_category"> Division
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">6.1</div>
                                <a routerLink="/skill/6.1">Divide Numbers Ending in Zeroes</a>
                            </li>
                            <li>
                                <div class="symbol number_1">6.2</div>
                                <a routerLink="/skill/6.2">Division with Remainder with Divisor Up to 1000</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">%</div>
                    <div class="categories add_category"> Stats
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">6.3</div>
                            <a routerLink="/skill/6.3">Calculate Mean</a>
                        </li>
                        <li>
                            <div class="symbol number_1">6.4</div>
                            <a routerLink="/skill/6.4">Calculate Mode</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>