<div class="container">



    <div class="row">
      <div class="col-md-12 mt-3">

        <!-- IMPORTANT: BELOW CONTENT MAINTAINED AS MARKDOWN WITH SAME NAME IN ASSETS. CHANGE THERE, AND USE HERE. -->
        <!-- You can use tools like https://codebeautify.org/markdown-to-html for to and fro conversion between md and html -->


        <h2>Online Safety</h2><br>
        <p>Every family should be concerned about being safe on the Internet. The Internet is a community of people, and every community holds many dangers as well as good learning experiences. Just like you wouldn’t send a small child to the park to play without any rules, you shouldn’t send them on the Internet without any knowledge of what they may encounter.</p>
<p>There have been recent examples of child abductions that involved the Internet. Although we hear about them and they are terrible, the percentages of these examples are low. Usually, the benefits received from using the Internet outweigh the dangers. However, it is necessary to examine the risks and make rules to be certain that everyone will stay safe.</p>
<p>Important Tips to Remember :</p>
<p>Know your legal rights.<br>Under the Children’s Online Privacy Protection Act, Web sites that are directed to kids under the age of 13 must post a notice about the types of information they collect from children, how the information is used, whether it is shared with others, and who to contact at the Web site about children’s privacy. Parents must be notified and agree before the Web site can collect, use, or share their children’s personal information.</p>
<p>Parents of kids under the age of 13 have the right to know what personal information their children are being asked for and how it will be used.</p>
<p>Parents can review that information, determine who can have access to it, and have it deleted if they wish.</p>
<p>To verify that it is the parent who is agreeing to having personal information about the child collected, Web sites must get that permission by mail, fax, or a phone call to a toll-free number.</p>
<p>Under the Children’s Online Privacy Protection Act, children under the age of 13 can’t be required to give out more information than is reasonably necessary to play games, enter contests, or participate in other activities on Web sites.</p>
<p>Learn how to recognize advertising.<br>Sometimes it’s hard to tell the difference between a game or a contest and an advertisement or sales offer.<br>Study different websites to become familiar with how Internet adverising is displayed on them. Carefully look at the website links and identify whether or not they are advertisements (trying to make money from you or directing you to a site that is trying to make money from you).<br>Web sites that provide entertainment also may try to get information about them for marketing purposes.</p>
<p>Use software tools<br>You can get software to block your computer from accessing specific kinds of Web sites or certain subjects (eg. Netnanny). Your Internet Service Provider also may be able to offer you filtering or blocking programs.</p>
<p>Filtering software varies, so read the description carefully to determine if the program meets your needs. Information about the effectiveness of different filtering programs may be available from consumer rating services and other resources.</p>
<p>Filtering isn’t foolproof, so it’s still important for your family to talk about the fact that not everything on the Internet meets the values that you set for yourselves.<br>Communicate the acceptable websites to visit &amp; make computer time a whole family activity. Put the computer in your living room, den, or some other place where you can see what each other is doing online. Spend family time while surfing the Internet to learn from each other. Explain that not all places on the Internet are designed for younger users and look for appropriate sites to visit.</p>
<p>Make going online a family activity in which everyone can have fun and learn together.</p>
<p>If young Internet users spend their time online without constant supervision, check on them periodically and encourage them to tell you about what they find.</p>
<p>Set family rules for Internet use and find safe websites that are acceptable according to your family values. (*Remember- never give out any personal information on the Internet, including your name, address, e-mail, phone number, or school without parental permission)<br>Make sure you go to Google’s preferences and change the SafeSearch filtering to ‘use strict filtering’.<br>Set rules for chat-room chatter.<br>Treat strangers in a chat room just like they would treat them on the street. Since a chat room is open to everyone, it’s not a good place for anyone to provide their real name, phone number, address, financial information, or other personal information that they wouldn’t want strangers to see.</p>
<p>See if the chat room is monitored by whoever operates it and whether any steps are taken to remove people for inappropriate behavior.</p>
<p>Don’t to rely on what other people say or even who they claim to be since it may not be true.</p>
<p>Never to agree to a face-to-face meeting with someone you only know through a chat room.</p>
<p>Never to give out personal information such as your name, address, or telephone number while in a chat room.</p>
<p>Don’t use online aliases that reveal your real name, age, or address. For example, a 10 year-old girl named Anu Priya from Erode should not choose an online identity like: Anu10,” PriyaErode or “AnuPriya”.</p>




      </div>
    </div>




  </div>