.container{
    margin-top:100px;
}

.grade2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--darkpink);
    font-weight: 600;
    font-size: xx-large;
}

.grade-number{
    width: 50px;
    height: 50px;
    background-color: var(--darkpink);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: xx-large;
    margin-right: 20px;
}

.grade2lists{
    margin-top: 100px;
}

.symbol{
    width: 50px;
    height: 50px;   
    line-height: 30px; 
    display: flex;    
    justify-content: center;   
    align-items: center; 
    vertical-align: middle;    
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding: 25px 25px;  
    margin-right: 20px;     
}

.categories{    
    font-weight: 600;
    font-size: 30px;    
    width: 100%;
}

.heading, .sub-heading{
    display: flex;
    flex-direction: row;
}

.plus{
    background-color: var(--lightgreen);
}

.minus{
    background-color: var(--lightpink);
}

.add_category{
    color: var(--lightgreen);
    border-bottom: 1px solid var(--lightgreen);
}

.minus_category{
    color: var(--lightpink);
    border-bottom: 1px solid var(--lightpink);   
}

.number_1{
    background-color: #fafafa;
    color: #ccc;
    
}

ul{
    padding: 0;
    margin-top: 10px;
}

li{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

a{
    /* text-decoration: none;
    line-height: 60px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    color: #ccc; 
    font-weight: 600; */
    
    color: #6c7488;
    font-size: 1.2vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 0 0.5vw 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.category-content{
    display: flex;
    flex-direction: column;
}

.sub-header{
    display: flex;
    flex-direction: row;
}

.add_subcategory{
    font-size: 1.2vw;
    line-height: 2.5vw;
    color: #6c7488;
    display: flex;
    align-items: center;
}