<div class="container">
    <div class="grade2">
        <div class="grade-number">2</div>
        Grade 2
    </div>
    <div class="grade2lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">+</div>
                        <div class="categories add_category"> Addition
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">2.1</div>
                                <a routerLink="/skill/2.1">Add a One Digit Number to a Two Digit Number</a>
                            </li>
                            <li>
                                <div class="symbol number_1">2.2</div>
                                <a routerLink="/skill/2.2">Adding Three or More Numbers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">-</div>
                    <div class="categories add_category"> Subtraction
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">2.3</div>
                            <a routerLink="/skill/2.3">Subtract Tens from Two Digit Number</a>
                        </li>
                        <li>
                            <div class="symbol number_1">2.4</div>
                            <a routerLink="/skill/2.4">Subtract Two Digit Number from Two Digit Number</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">x</div>
                        <div class="categories add_category"> Multiplication
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">2.1</div>
                                <a href="#">Add a One Digit Number to a Two Digit Number</a>
                            </li>
                            <li>
                                <div class="symbol number_1">2.2</div>
                                <a href="#">Add a One Digit Number to a Two Digit Number</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">%</div>
                    <div class="categories add_category"> Division
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">2.1</div>
                            <a href="#">Add a One Digit Number to a Two Digit Number</a>
                        </li>
                        <li>
                            <div class="symbol number_1">2.2</div>
                            <a href="#">Add a One Digit Number to a Two Digit Number</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>