<div class="container">



    <div class="row">
      <div class="col-md-12 mt-3">

        <!-- IMPORTANT: BELOW CONTENT MAINTAINED AS MARKDOWN WITH SAME NAME IN ASSETS. CHANGE THERE, AND USE HERE. -->
        <!-- You can use tools like https://codebeautify.org/markdown-to-html for to and fro conversion between md and html -->


        <h2>Privacy Policy</h2><br>
        <p><strong>Updated and effective 1st Feb 2023</strong></p><br>
        <p>GoodChildrenGames, brought to you by Giza Global Solutions LLP, is committed to protecting the privacy and
          security of our online visitors. We are extremely sensitive to family concerns about their children’s
          personal information and safety. We want you to know about and understand the measures we have taken to keep
          GoodChildrenGames a safe and secure environment for everyone. This privacy policy tells you how and why we
          collect information from you, and how we use that information. Please note that your use of this site is
          also subject to the <a routerLink="/terms-of-service">Terms of Service</a>.</p> <br>
        <p><strong>COMPLIANCE WITH CHILDREN’S ONLINE PRIVACY PROTECTION ACT (“COPPA”)</strong></p><br>
        <p>GoodChildrenGames complies with the Children’s Online Privacy Protection Act (“COPPA”), a U.S. law designed
          to protect the online privacy of children. Whenever we refer to “children” in this Privacy Policy, we mean
          children under the age of 13, unless otherwise indicated. We take precautions designed to protect the online
          privacy of children, and we encourage parents to take an active role in protecting their children’s privacy
          online by knowing and understanding information that is collected.</p><br>
        <p>GoodChildrenGames does not knowingly collect personal information as defined by COPPA from children. If we
          learn or have reason to suspect that we have collected personal information from a child in violation of
          COPPA, we will promptly delete it.</p><br>
        <p>If you have any questions or comments about how we treat children’s information or our compliance with
          COPPA, please contact us as set out in the CONTACT INFORMATION section below. If you would like to learn
          more about COPPA, you can refer to the Children’s Privacy section of the Federal Trade Commission’s website
          here:</p><br>
        <p><a
            href="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/children%27s-privacy">https://www.ftc.gov/tips-advice/business-center/privacy-and-security/children%27s-privacy</a>
        </p><br>
        <p><strong>WHAT INFORMATION DO WE COLLECT?</strong></p><br>
        <p>1. We collect information from you if you “Contact” us to ask us a question or send us a comment. We may
          reply to you to answer your question or respond to your comment on a one-time basis. Any contact made by a
          child will be deleted once we respond to your question or comment, and we will not re-use it to re-contact
          the child.</p><br>
        <p>2. We use a third-party advertising partner, Playwire Media, to serve ads when you visit our website.
          Playwire offers a kidSAFE+ certified COPPA compliant advertising platform for publishers of child-directed
          websites. Through Playwire, only contextually-based ads are served to our visitors. These ads are NOT shown
          based on a user’s browsing history or by behavioral targeting. While these ads don’t use cookies for ad
          personalization, they may use cookies to allow for frequency capping, aggregated ad reporting, and to combat
          fraud and abuse.</p><br>
        <p>3. We use Google Analytics as a web analysis tool that helps us understand how visitors engage with our
          website. Google Analytics uses first-party cookies to track visitor interactions. The Google Analytics
          privacy policy can be found <a href="https://policies.google.com/privacy">here</a>.</p><br>
        <p>You can learn more about how to opt-out of tracking in Google Analytics <a
            href="https://tools.google.com/dlpage/gaoptout/">here</a>.</p><br>
        <p>We’ve turned on the IP Anonymization feature in Google Analytics. You can learn more about this <a
            href="https://support.google.com/analytics/answer/2763052?hl=en">here</a> </p> <br>
        <p>4. For adults, we offer a completely optional ad-free subscription service for purchase. To signup for a
          subscription, we collect information such as Name, Email Address, and Payment information from the adult
          subscriber. We use Stripe to process payments. Payment information is passed directly to Stripe and is not
          retained by GoodChildrenGames. We may use the information collected from adults:</p><br>
        <p>– To process transactions and provide our products and services;<br>– To provide information, products, or
          services that we believe will interest you;<br>– To contact you regarding your account, our policies or your
          use of the Platform; and<br>– To improve our products and services and for our internal business purposes.
        </p><br>
        <p>5. We use Google reCAPTCHA to protect forms on our website from spam and abuse. The Google reCAPTCHA
          privacy policy can be found <a href="https://policies.google.com/privacy?hl=en">here</a> </p><br>
        <p><strong>HOW DO WE PROTECT YOUR INFORMATION?</strong></p><br>
        <p>We take reasonable steps to protect the confidentiality and security of personal Information collected from
          our users. Since we do not collect personal information from children, no personal information from children
          is stored on our server.</p><br>
        <p><strong>DO WE DISCLOSE ANY INFORMATION TO OUTSIDE PARTIES?</strong></p><br>
        <p>Other than to process subscription payments for adult subscribers, we do not sell, trade, or otherwise
          transfer to outside parties any personally identifiable information about you. Our third party vendors use
          visitor information (as described above) for support of internal operations. This includes serving of ads
          and tools to maintain or analyze website functionality.</p><br>
        <p><strong>THIRD PARTY LINKS</strong></p><br>
        <p>Occasionally, at our discretion, we may include or offer third party products or services on our website.
          These third party sites have separate and independent privacy policies. We therefore have no responsibility
          or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the
          integrity of our site and welcome any feedback about these sites.</p><br>
        <p><strong>TERMS AND CONDITIONS</strong></p><br>
        <p>Please also visit our <a routerLink="/terms-of-service">Terms of Service</a> and <a
            routerLink="/payment-terms">Payment Terms</a> pages establishing the use, disclaimers, and limitations of
          liability governing the use of our website.</p><br>
        <p><strong>YOUR CONSENT</strong></p><br>
        <p>By using our site, you consent to our Privacy Policy.</p><br>
        <p><strong>MODIFICATION OF THIS PRIVACY POLICY</strong></p><br>
        <p>Giza Global Solutions LLP reserves the right to modify or add to this Privacy Policy at any time (“Updated
          Privacy Policy”). You agree that we may notify you of the Updated Privacy Policy by posting them on this
          website so that they are accessible via a link on the home page, and that your use of GoodChildrenGames
          after we have posted the Updated Privacy Policy (or engaging in such other conduct as we may reasonably
          specify) constitutes your agreement to the Updated Privacy Policy. Therefore, you should review this Privacy
          Policy before using the website. The Updated Privacy Policy will be effective as of the time of posting, or
          such later date as may be specified in the Updated Privacy Policy, and will apply to your use of
          GoodChildrenGames from that point forward.</p><br>
        <p><strong>CONTACT INFORMATION</strong></p><br>
        <p>All inquiries concerning GoodChildrenGames and its policies may be sent to: <span
            class="rev mail1">hcdo</span> </p>
            <br>
            <br>
      </div>