<div class="container">
    <div class="grade0">
        <div class="grade-number">P</div>
        Pre-Kindergarten
    </div>
    <div class="grade0lists">
        <div class="row">
            <div class="col-md-6">
                <div class="category-content">
                    <div class="heading">
                        <div class="symbol plus">123</div>
                        <div class="categories add_category"> Counting
                        </div>
                    </div>
                    <div class="sub-heading">                        
                        <ul>
                            <li>
                                <div class="symbol number_1">P.1</div>
                                <a routerLink="/count-objects/5">Count Objects Up to 5</a>
                            </li>
                            <li>
                                <div class="symbol number_1">P.2</div>
                                <a routerLink="/skill/0.3">Count Objects Up to 10</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <div class="symbol plus">+</div>
                    <div class="categories add_category"> Addition
                    </div>
                </div>
                <div class="sub-heading">                        
                    <ul>
                        <li>
                            <div class="symbol number_1">P.3</div>
                            <a routerLink="/skill/0.3">Add two numbers Up to 5</a>
                        </li>
                        <li>
                            <div class="symbol number_1">P.4</div>
                            <a routerLink="/skill/0.4">Add two numbers Up to 10</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>