<div class="sub-header">
  Choose Your Grade To Start
</div>

<div class="grades-list container text-center"> 
      <a routerLink="/gradekg" class="grade-0 skill-level">
        <div class="key">K</div>
        <div class="name">Kindergarten</div>        
      </a>    
      <a routerLink="/grade1" class="grade-1 skill-level">
        <div class="key">1</div>
        <div class="name">Grade 1</div>       
      </a>   
      <a routerLink="/grade2" class="grade-2 skill-level">
        <div class="key">2</div>
        <div class="name">Grade 2</div>       
      </a>    
</div>
