.sub-header {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f47cb3;
  line-height: 4rem;
  color: white;
  font-weight: 400;
  font-size: 2.3rem;
}

.grades-list {
  margin-top: 100px;
  margin-bottom: 50px;
}

.skill-level {
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  border-color: aqua;
  transition: background-color 0.2s ease-in-out;
  margin: auto 30px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.grade-0 {
  /* border-color: var(--darkgreen);
  color: var(--darkgreen); */
  border-color: grey;
  color: black;
}

.grade-0:hover {
  /* background-color: var(--green); */
    background-color: lightgray;
  color: black;
}

.grade-1 {
  border-color: grey;
  color: black;
}

.grade-1:hover {
  background-color: lightgray;
  color: black;
}

.grade-2 {
  border-color: grey;
  color: black;
}

.grade-2:hover {
  background-color: lightgray;
  color: black;
}

div.key {
  width: 50px;
  height: 50px;
  color: white;
  position: absolute;
  top: 25%;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: 600;
  font-size: x-large;
}

div.name {
  font-weight: 600;
  font-size: large;
  margin: 32px auto;
}

.grade-0 div.key {
  background-color: grey;
}

.grade-1 div.key {
  background-color: grey;
}

.grade-2 div.key {
  background-color: grey;
}

div.row{
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .skill-level {
    width: 250px;
    height: 100px;
    margin: 10px 100px;
  }
}

@media only screen and (max-width: 761px) {
  .sub-header {
    line-height: 2rem;
    font-size: 1rem;
  }

  .skill-level {
    width: 250px;
    height: 100px;
    margin: 10px 60px;
  }
}